@keyframes dropIn {
  0% {
    top: 1em;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    top: 0em;
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #374b78;
  background: linear-gradient(45deg, #374b78 0%, #4b3778 100%);
  font-family: sans-serif;
  color: white;
}

html:active header h1 {
  top: 0.1em;
  left: 0.1em;
  text-shadow: 0.08em 0.08em black, 0.16em 0.16em black;
  transition: top 0.1s linear, left 0.1 linear;
}

p {
  font-family: monospace;
  color: white;
  font-size: 1.2em;
}

/* ______________HEADER_______________ */
header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  padding: 1em;
}
header .colorText {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .colorText p {
  margin: 0;
}
header .colorText button {
  font-family: monospace;
  background: white;
  height: 1.5em;
  border: none;
  margin: 0;
  opacity: 0.3;
  transition: all 0.2s;
  outline: none;
  align-self: flex-end;
}
header .colorText button:hover, header .colorText button:active {
  opacity: 1;
  outline: none;
}
header h1 {
  display: inline-block;
  font-family: sans-serif;
  font-size: 5.5em;
  color: white;
  top: 0;
  left: 0;
  text-shadow: 0.08em 0.08em rgba(0, 0, 0, 0);
  transition: top 0.05s, left 0.05s, text-shadow 0.2s;
  margin: 0;
  width: 75%;
}
header h1::selection {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0.08em 0.08em rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}
header h2 {
  display: block;
  width: 30vw;
}
header h2 a {
  position: relative;
  color: white;
  font-size: 3em;
  text-decoration: none;
  border-bottom: 0.25em solid rgba(255, 255, 255, 0.2);
  transition: all 1s;
  transition: border-bottom 0.25s, text-shadow 0.13s;
  animation: dropIn 1s;
  top: 0;
  width: 100%;
}
header h2 a h1 {
  display: inline-block;
  font-family: sans-serif;
  font-size: 5.5em;
  color: white;
  top: 0;
  left: 0;
  text-shadow: 0.08em 0.08em rgba(0, 0, 0, 0);
  transition: top 0.05s, left 0.05s, text-shadow 0.2s;
  margin: 0;
  width: 75%;
}
header h2 a:hover {
  border-bottom: 0.25em solid white;
}
header h2 a:active {
  text-shadow: 0.08em 0.08em black, 0.16em 0.16em black;
  border-bottom: 0.25em solid rgba(255, 255, 255, 0);
}
header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
header nav h2 {
  width: 100%;
  text-align: center;
}
header .currentPage a {
  border-bottom: 0.25em solid rgba(255, 255, 255, 0);
}
header .currentPage a:hover {
  border-bottom: 0.25em solid rgba(255, 255, 255, 0);
}

@media (min-width: 680px) {
  header nav h2 {
    width: 33%;
    text-align: left;
  }
}
/* ______________MAIN_______________ */
main {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}
main img {
  width: 75%;
  max-width: 30em;
  border-radius: 0.5em;
  border: 0.5em solid white;
  margin: auto;
}
main .intro h2 {
  font-size: 3em;
}
main .construction {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  padding: 1em;
}
main .construction h3 {
  font-size: 2em;
}
main .socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .socials a {
  border-bottom: 0.25em solid rgba(255, 255, 255, 0.2);
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  text-decoration: none;
  transition: all 0.25s;
}
main .socials a:hover {
  border-color: white;
}
main .socials a * {
  margin-right: 0.5em;
}
main .socials a img {
  width: 3em;
  border: none;
}
main .large {
  width: 100%;
}
main .large p {
  font-size: 5em;
}

.tile {
  color: black;
  display: flex;
  padding: 1em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: 25em;
  background: white;
}

.icon {
  border: none;
  width: 5em;
}

/* ______________FOOTER_______________ */
footer {
  color: rgba(255, 255, 255, 0.4);
  min-height: 2em;
  display: flex;
  justify-content: center;
  font-family: monospace;
  /* background-color: white; */
}

/* Kubernetics */
